<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <title>TypeKing</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
    <div class="wrapper">
      <input type="text" class="input-field">
      <div class="content-box">
        <div >
            <form action="/login" method="POST">
                <input type="text" name="username" required>
                <input type="password" name="password" required>

                <input type="submit" value="submit">
            </form>
        </div>
      </div>
    </div>

    <script src="/js/paragraphs.js"></script>
    <script src="/js/script.js"></script>
  
  </body>
</html>